<h1>Books</h1>


<!--ここにテーブルで一覧-->


<!--投稿フォーム-->
<h2>New Book</h2>
<%= form_with model: @book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit "Create Book" %>
  </div>
<% end %>